# apple
.DS_Store

# Vagrant
**/.vagrant/**

# application
credentials.inc.php
phpinfo.php
parseConfig.php

# data
scripts/data-etl/Inventory - Country Classification.csv
Inventory.xlsx
arcgis_flatfile.json
org_profile.json

scripts/agol-integration/agol_error.json
scripts/agol-integration/agol_success.json
scripts/agol-integration/arcgis_flatfile.json
scripts/agol-integration/problem_records.json

assets/*
html/grid/*

# Data
.~lock.Inventory.xlsx#
