# apple
.DS_Store

# Vagrant
**/.vagrant/**

# application
credentials.inc.php
phpinfo.php
parseConfig.php

# testing files
html/map/viz/app3

# data
scripts/data-etl/Inventory - Country Classification.csv
Inventory.xlsx
arcgis_flatfile.json
org_profile.json

scripts/agol-integration/agol_error.json
scripts/agol-integration/agol_success.json
scripts/agol-integration/arcgis_flatfile.json
scripts/agol-integration/problem_records.json
scripts/agol-integration/agol_integration/agol_success.json
scripts/agol-integration/agol_integration/problem_records.json
scripts/agol-integration/agol_integration/agol_error.json
scripts/agol-integration/agol_integration/settings.py

assets/*
html/grid/*

# Data
.~lock.Inventory.xlsx#

# Temp
cfr/
CFR-2011/*
html/cfr/*
html/map/viz/app3
html/map/viz/app3/*
html/scap-security-guide/*
scap-security-guide/

* Gulp distribution files
viz-src/dist/*
viz-src/node_modules/*
vm/basic/node_modules/*