@media screen and (min-width: 480px){
  
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 11pt;
    color: #333;
    /*font-size: 12px;*/
    /*line-height: 22px;*/
    font-family: Lato, sans-serif;
}

.lg-font p {
  font-size: 1.2em;
}

p, p.muted {
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-bottom: 0px;
	margin-top: 8px;
	font-family: arial, sans-serif;
	font-size: 1em;
	color: black;
}

p.muted {
	color: #999999;
}

.dataUseData__clear {
	font-weight: bold;
	cursor: pointer; cursor: hand;
}

.data-src-row, .data-use-row {
	margin-bottom: 2px;
}

.add_data_src_btn_row {
	padding-bottom: 2px;
	border-bottom: 1px solid #eee;
}

#industry_id_other {
	margin-top: 2px;
}

small.required {
	color: red;
}

div.od-purpose {
	margin-left: 24px;
}

/* Theme section */

#role-intro {
	background-color: #fff;
	padding: 0 0 8px 8px;
}

#role-eligibility {
	background-color: #bbb;
	padding: 0 0 8px 8px;
}

#role-eligibility ul {
	margin: .5em 0 .5em 0 !important;
}

#org_description, #org_additional {
	height:70px; 
	min-height:70px;
}

#role-orgInfo {
	background-color: rgb(253,228,156);
	padding: 0 0 8px 8px;
}

#role-dataUse {
	background-color: rgb(170,208,145);
	padding: 0 0 8px 8px;
}

#role-contact {
	background-color: rgb(146,187,226);
	padding: 0 0 8px 8px;
}

.data_detail_row {
	padding-bottom: 8px;
}

.data_detail_row:nth-of-type(even){
  background-color:rgb(170,220,145);
}


/* Bootstrap overrides */
/* darken selected buttons */

label.btn.active {
	background-color: #bfbfbf;
}