@media screen and (min-width: 480px){
  
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.lg-font p {
  font-size: 1.2em;
}

p, p.muted {
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-bottom: 0px;
	margin-top: 8px;
	font-family: arial, sans-serif;
	font-size: 1em;
	color: black;
}

p.muted {
	color: #999999;
}

.dataUseData__clear {
	font-weight: bold;
	cursor: pointer; cursor: hand;
}

.data-src-row, .data-use-row {
	margin-bottom: 2px;
}

.add_data_src_btn_row {
	padding-bottom: 2px;
	border-bottom: 1px solid #eee;
}

#industry_id_other {
	margin-top: 2px;
}

small.required {
	color: red;
}

div.od-purpose {
	margin-left: 24px;
}

/* Theme section */

#role-intro {
	background-color: #bbb;
	padding: 0 0 8px 8px;
}

#role-orgInfo {
	background-color: green;
	padding: 0 0 8px 8px;
}

#role-dataUse {
	background-color: beige;
	padding: 0 0 8px 8px;
}

#role-contact {
	background-color: orange;
	padding: 0 0 8px 8px;
}

/* Bootstrap overrides */
/* darken selected buttons */

label.btn.active {
	background-color: #bfbfbf;
}