@media screen and (min-width: 480px){
  
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.lg-font p {
  font-size: 1.2em;
}

.dataUseData__clear {
	font-weight: bold;
	cursor: pointer; cursor: hand;
}

.data-src-row, .data-use-row {
	margin-bottom: 2px;
}

.add_data_src_btn_row {
	padding-bottom: 2px;
	border-bottom: 1px solid #eee;
}

#industry_id_other {
	margin-top: 2px;
}