
/* line 451 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */

/* line 1 : /Users/jasonhettmansperger/Projects/ode/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 286 : /Users/jasonhettmansperger/Projects/ode/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/jasonhettmansperger/Projects/ode/src/app/css/variable.styl */

/* line 6 : /Users/jasonhettmansperger/Projects/ode/src/app/css/variable.styl */

/* line 64 : /Users/jasonhettmansperger/Projects/ode/src/app/css/header.styl */

/* line 6 : /Users/jasonhettmansperger/Projects/ode/src/app/css/header.styl */

/* line 1 : /Users/jasonhettmansperger/Projects/ode/src/app/css/variable.styl */

/* line 3 : /Users/jasonhettmansperger/Projects/ode/src/app/css/header.styl */
header{background-color:#fff}
/* line 5 : /Users/jasonhettmansperger/Projects/ode/src/app/css/header.styl */
.banner{width:325px;margin-left:auto;margin-right:auto;background:#fff;padding:10px}
/* line 12 : /Users/jasonhettmansperger/Projects/ode/src/app/css/header.styl */
.contain-to-grid{background-color:#2ea0e6}
/* line 14 : /Users/jasonhettmansperger/Projects/ode/src/app/css/header.styl */
nav.top-bar{text-align:center;background-color:#2ea0e6;}
/* line 18 : /Users/jasonhettmansperger/Projects/ode/src/app/css/header.styl */
nav.top-bar .title-area{display:none}
/* line 21 : /Users/jasonhettmansperger/Projects/ode/src/app/css/header.styl */
section.top-bar-section{display:inline-block}
/* line 28 : /Users/jasonhettmansperger/Projects/ode/src/app/css/header.styl */
.br .item{display:inline-block;margin-right:16px;margin-bottom:0;margin-left:16px;padding:13px 17px;float:none;background-position:52% 0%;background-size:25px;background-attachment:scroll;-webkit-transition-property:color,background-color;transition-property:color,background-color;-webkit-transition-duration:300ms,300ms;transition-duration:300ms,300ms;font-family:'Lato',sans-serif;color:#fff;font-size:18px;line-height:18px;font-weight:300;letter-spacing:2px;text-decoration:none;text-transform:uppercase;}
/* line 53 : /Users/jasonhettmansperger/Projects/ode/src/app/css/header.styl */
.br .item.current{background-color:#4caeea;color:#fff}
/* line 56 : /Users/jasonhettmansperger/Projects/ode/src/app/css/header.styl */
.br .item:hover{background-color:#1a90d8;color:#fff;text-decoration:none}
/* line 61 : /Users/jasonhettmansperger/Projects/ode/src/app/css/header.styl */
.br #rightNavContent{overflow:hidden}
/* line 38 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
html{-webkit-tap-highlight-color:transparent}
/* line 40 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
body{background:#020b4f;font-family:Arial}
/* line 44 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #outerbox{position:absolute;top:115px;bottom:0;left:0;right:0}
/* line 50 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #leftPanel{float:left;width:350px;height:100%;}
/* line 59 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #leftPanel .input-container{background:#f7f7f7}
/* line 63 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #leftPanel ::-webkit-input-placeholder{color:#fff}
/* line 66 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #leftPanel :-moz-placeholder{color:#fff}
/* line 69 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #leftPanel ::-moz-placeholder{color:#fff}
/* line 72 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #leftPanel :-ms-input-placeholder{color:#fff}
/* line 75 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #leftPanel input{background:url("../images/icon_magnifying_glass.png") no-repeat 10px #2ea0e6;border:0;padding:8px;margin:10px;width:80%;color:#fff;padding-left:35px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px}
/* line 85 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */

/* line 88 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #mapDiv{height:100%}
/* line 91 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #tableDiv{position:absolute;left:350px;right:0;}
/* line 96 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #tableDiv table{margin-bottom:0}
/* line 99 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br .top-bar{z-index:99999999}
/* line 102 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.columns{padding-left:0;padding-right:0}
/* line 106 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
@media screen and (max-width:500px){
/* line 107 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #leftPanel{background:#fff;z-index:99999;float:left;width:350px;height:100%}}
/* line 115 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #PanelToggle{background:#fff;width:40px;height:200px;top:0;bottom:0;left:350px;background:#808080;cursor:pointer;position:absolute;z-index:9;margin:auto;opacity:.1;border-top-right-radius:15px;border-bottom-right-radius:15px}
/* line 131 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #PanelToggle:hover{background:#333;opacity:.2}
/* line 135 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #toggleIcon{background:#f00;width:20px;height:20px}
/* line 140 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.icon-bar.five-up .item{height:45px;width:70px}
/* line 145 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #fillPannel{width:100%;display:none;min-height:150px;background:#008cba;padding:10px}
/* line 151 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br .pageIcon svg{fill:#00f}
/* line 153 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br .baseMapItem{display:inline-block;float:none;padding:10px;background:none}
/* line 158 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br .baseMapThumbnail{width:130px;height:80px;-webkit-box-shadow:0 0 15px #fff;-moz-box-shadow:0 0 15px #fff;-ms-box-shadow:0 0 15px #fff;-o-box-shadow:0 0 15px #fff;box-shadow:0 0 15px #fff;cursor:pointer}
/* line 163 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #baseMapGallery{white-space:nowrap;background:none}
/* line 166 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #gallery_pan_left{display:none;position:absolute;height:80px;top:64px;width:35px;background:#4d4a4a;opacity:.4;cursor:pointer;-webkit-box-shadow:0 0 20px 0 #fff;-moz-box-shadow:0 0 20px 0 #fff;-ms-box-shadow:0 0 20px 0 #fff;-o-box-shadow:0 0 20px 0 #fff;box-shadow:0 0 20px 0 #fff}
/* line 176 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #gallery_pan_left:hover{opacity:.5}
/* line 178 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #gallery_pan_right{position:absolute;right:10px;width:35px;height:80px;top:64px;background:#4d4a4a;opacity:.4;-webkit-box-shadow:6px 0 11px 0 #fff;-moz-box-shadow:6px 0 11px 0 #fff;-ms-box-shadow:6px 0 11px 0 #fff;-o-box-shadow:6px 0 11px 0 #fff;box-shadow:6px 0 11px 0 #fff;cursor:pointer}
/* line 188 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #gallery_pan_right:hover{opacity:.5}
/* line 190 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #gallery{height:100px}
/* line 193 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.layer-radios{padding-left:10px}
/* line 195 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br-radio{background:url("../images/radio_unselected.png") no-repeat left;padding-left:25px;padding-top:5px;padding-bottom:5px;border-bottom:1px solid #e1e1e1;cursor:pointer;}
/* line 203 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br-radio.selected{background:url("../images/radio_selected.png") no-repeat left}
/* line 206 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */

/* line 207 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br-accordian .filter-label{cursor:pointer;padding:5px;margin:2px;background:url("../images/icon_collapsed.png") no-repeat calc(100% - 10px) #fff;}
/* line 212 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br-accordian .filter-label.selected{background:url("../images/icon_expanded.png") no-repeat calc(100% - 10px) #fff}
/* line 214 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br-accordian .filter-label:hover{background:url("../images/icon_collapsed.png") no-repeat calc(100% - 10px) #feebb6}
/* line 218 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br-accordian .accordian-content{max-height:500px;overflow-y:auto;padding-left:10px;padding-right:10px;background:#eeeff1;}
/* line 225 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br-accordian .accordian-content.selected{display:block}
/* line 232 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */

/* line 233 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br .leaflet-popup-content{width:auto !important}
/* line 235 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br .leaflet-popup-content-wrapper{border-radius:0}
/* line 238 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br .markerPopup{width:300px}
/* line 241 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */

/* line 242 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br .company-popup .company-popup-title{font-size:16px;font-weight:bold;margin-bottom:5px;border-bottom:solid 1px #d3d3d3;cursor:pointer}
/* line 248 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br .company-popup .company-popup-content{list-style-type:none}
/* line 252 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #clusterPopup{width:300px;max-height:380px;overflow-y:auto;}
/* line 257 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #clusterPopup .company-popup-title{font-size:12px;font-weight:bold;margin-bottom:5px;border-bottom:0}
/* line 262 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br #clusterPopup .company-popup-content{padding-left:10px;padding-bottom:15px}
/* line 266 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br-tab-items{display:inline-block}
/* line 269 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.tab-items{border-bottom:5px #fcc72d solid}
/* line 271 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.tabItem{border:1px #eaeaea solid;display:none;}
/* line 274 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.tabItem.outerselected{display:block}
/* line 277 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.tabItem-label{cursor:pointer;background:#fff;margin:1px;margin-bottom:0;margin-top:10px;padding:5px;color:#fff;background:#2ea0e6;padding-left:25px;-webkit-border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;-ms-border-radius:2px 2px 0 0;-o-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;}
/* line 288 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.tabItem-label.filter{background:url("../images/icon_filter_white.png") no-repeat 5px #2ea0e6}
/* line 292 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.tabItem-label.statistics{background:url("../images/icon_statistics.png") no-repeat 5px #2ea0e6}
/* line 295 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.tabItem-label.Table{background:url("../images/icon_tabular_results.png") no-repeat 5px #2ea0e6}
/* line 298 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.tabItem-label.map{background:url("../images/icon_map_results_white.png") no-repeat 5px #2ea0e6}
/* line 305 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.tabItem-label .selected{background:#eaeaea}
/* line 308 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.innerContent{display:none}
/* line 310 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */

/* line 311 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.selected .innerContent{display:block}
/* line 313 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.selected .tabItem-label{background:#fcc72d;color:#333;}
/* line 317 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.selected .tabItem-label.filter{background:url("../images/icon_filter.png") no-repeat 5px #fcc72d}
/* line 320 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.selected .tabItem-label.statistics{background:url("../images/icon_statistics_gray.png") no-repeat 5px #fcc72d}
/* line 323 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.selected .tabItem-label.Table{background:url("../images/icon_tabular_results_gray.png") no-repeat 5px #fcc72d}
/* line 326 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.selected .tabItem-label.map{background:url("../images/icon_map_results.png") no-repeat 5px #fcc72d}
/* line 329 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br-button{padding:10px;cursor:pointer;}
/* line 332 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br-button.clear-filters{background:#fcc72d;color:#333;width:auto;}
/* line 338 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br-button.clear-filters:hover{background:#2ea0e6;color:#fff}
/* line 342 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */

/* line 343 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.br .accordian-container{padding:10px;background:#f7f7f7}
/* line 347 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
#filterStats{background:#f7f7f7;padding:10px;}
/* line 351 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
#filterStats li{list-style-type:none}
/* line 354 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.fake-link{color:#00f;text-decoration:underline;cursor:pointer}
/* line 359 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.table-company-popup{position:absolute;height:300px;width:300px;display:none;background-color:#fff;border:solid 1px #000;overflow:auto;z-index:50}
/* line 369 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.table-company-popup{font-size:12px;}
/* line 373 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.table-company-popup .company-popup-title,.table-company-popup .company-popup-content{padding-left:5px;padding-right:5px}
/* line 378 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.table-company-popup .company-popup-title{font-size:13px !important}
/* line 381 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.close-popup{float:right;margin-right:5px}
/* line 385 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.table{max-height:80%}
/* line 388 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.description-column{width:30%}
/* line 391 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.export-button{margin-top:15px;background-color:#2ea0e6}
/* line 395 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.edit-button-holder{width:100%;margin-top:15px;position:relative;text-align:center;}
/* line 401 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.edit-button-holder .edit-button{background-color:#2ea0e6;width:60%}
/* line 406 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.gin-control-zoom-home{background:url("../images/home.svg") no-repeat !important;background-position:center !important;background-color:#fff !important}
/* line 411 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
.survey-button{position:absolute;right:10px;top:100px;height:26px;width:26px;background-color:#00f;z-index:1000;border-radius:4px;background:url("../images/clipboard.svg") no-repeat !important;background-position:center !important;background-color:#fff !important;border:solid 1px #d3d3d3;-webkit-box-shadow:0 2px 2px #888;-moz-box-shadow:0 2px 2px #888;-ms-box-shadow:0 2px 2px #888;-o-box-shadow:0 2px 2px #888;box-shadow:0 2px 2px #888;cursor:pointer}
/* line 427 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
#PanelToggle{display:none}
/* line 430 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
#mapArea .tab-items{text-align:right;padding-right:20px;}
/* line 434 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
#mapArea .tab-items .tabItem-label{margin-right:10px}
/* line 437 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
#leftPanel .tab-items{padding-left:20px;}
/* line 440 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
#leftPanel .tab-items .tabItem-label{margin-left:10px}
/* line 444 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */

/* line 445 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */

/* line 446 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */

/* line 447 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */

/* line 448 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */

/* line 450 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */

/* line 451 : /Users/jasonhettmansperger/Projects/ode/src/app/css/app.styl */
